In [30]:
import cx_Oracle
import pandas as pd
import re

#Connect to ERP and get data from 200Q
def FETCH_DATA():
    # Define connection details
    dsn = cx_Oracle.makedsn(
        host = "192.168.1.242",      # Replace with your host IP or domain
        port = 1526,                # Replace with your port
        service_name = "sperpdb"  # Replace with your service name
    )

    # Establish the connection
    connection = cx_Oracle.connect(
        user = "spselect",         # Replace with your username
        password = "select",     # Replace with your password
        dsn = dsn
    )
    query = """
    SELECT * 
    FROM ODCI_WARNINGS$
    """
    df = pd.read_sql_query(query, connection)
    return df
    connection.close()
    
df = FETCH_DATA()
df = df.copy()

df.columns
df

C:\Users\sales6\AppData\Local\Temp\ipykernel_7208\3526105419.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

DatabaseError: Execution failed on sql '
    SELECT *
    FROM ODCI_WARNINGS$
    ': ORA-00942: table or view does not exist
Help: https://docs.oracle.com/error-help/db/ora-00942/